html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #ccc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

ul {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  line-height: 1.5;
  flex-wrap: wrap;
  margin: 0 2rem 2rem;
  box-sizing: border-box;
  justify-content: space-between;
}

ul li {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  grid-gap: 2rem;
  padding: 0;
}

hgroup {
  flex-basis: 16rem;
  padding-bottom: 0;
  margin-bottom: .5rem;
  margin-right: .6rem;
  align-items: center;
  line-height: .5;
}

p {
  flex-basis: 24rem;
  margin-right: 5rem;
  padding: 0;
  align-items: center;
  margin-top: -.1rem;
}

a {
  padding: .5rem 1rem .6rem;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  width: 6.85rem;
  margin-left: 1rem;
  align-items: center;
  margin-top: -.75rem;
}

img {
  width: 5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}
